.btn {
    font-weight: 600;
    //text-transform: uppercase;
    // border-radius: $border-radius;
    text-decoration: none !important;
    text-wrap: auto;

    &[class*=btn-] {
        box-shadow: inset -1px -3px 7.8px 0 rgba(27, 27, 27, .25), inset 1px 3px 8px 0 hsla(0, 0%, 100%, .2), 0 4px 8px -2px rgba(27, 27, 27, .14), 0 2px 4px -2px rgba(27, 27, 27, .1);
    }

    &[class*=btn-outline],
    &[class*=btn-toggle],
    &[class*=btn-link],
    &[class*=btn-offcanvas] {
        box-shadow: none;
    }

    &.block,
    &.btn-block {
        width: 100%;
    }
}

// .btn-group
// {
//     &.remove
//     {
//         width: fit-content;

//         .remove-repeater-row
//         {
//             @extend .btn-sm;
//             @extend .btn-danger;

//             &:after {
//                 display: none!important;
//             }
//         }

//         .dropdown-menu
//         {
//             border-radius: 1rem;
//             width: max-content;
//             p {
//                 font-size: .875rem;
//                 font-weight: 600;
//                 padding: .25rem .5rem;
//             }

//             [delete-row-from-repeater] {
//                 background-color: $danger;
//                 color: $white;
//             }
//         }
//     }
// }

// .btn-primary {
//     color: $white;

//     &:focus,
//     &:hover {
//         background-color: $st-dark;
//         border-color: $st-dark;
//         color: $white;
//     }
// }

.btn-outline-st {
    @extend .btn-outline-primary;
}

.btn-outline-nd {
    @extend .btn-outline-secondary;
}


.btn-st {
    @extend .btn-primary;
}

.btn-nd {
    @extend .btn-secondary;

    /*&:focus,
    &:hover {
        color: $white;
    }*/
}

.btn-rd {
    @extend .btn-primary;

    background-color: $rd;
    border-color: $rd;
    color: $dark;

    &:focus,
    &:hover {
        background-color: $rd-light;
        border-color: $rd-light;
        color: $dark;
    }
}

.btn-th {
    @extend .btn-rd;

    background-color: $th;
    border-color: $th;
    color: $dark;

    &:focus,
    &:hover {
        background-color: $th-light;
        border-color: $th-light;
        color: $dark;
    }
}

// .btn-outline-st {
//     &:focus,
//     &:hover {
//         color: $white;
//     }
// }

.btn-outline-white {
    border-color: $white;
    color: $white;

    &:focus,
    &:hover {
        background-color: $white;
        color: $nd;
    }
}

.dropdown-menu
{
    padding: .5rem;

    .dropdown-item {
        padding: .25rem .5rem;
        border-radius: 0.5rem;
        text-decoration: none;
    }

    hr {
        border-top: 1px solid var(--bs-dropdown-divider-bg);
        height: 0;
        margin: var(--bs-dropdown-divider-margin-y) 0;
        opacity: 1;
        overflow: hidden;
    }
}

.theme-color-mode
{
    [aria-pressed="true"] {
        @extend .active;
    }
}

.active>.page-link {
    z-index: 0;
}
