#login-modal,
.template-login
{
  .main-footer-login,
  .forgot-password,
  {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    text-align: center;

    a {
      text-align: center;
    }
  }
}

.social-logins
{
  gap: .75rem !important;

  .from {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem !important;
    border-radius: 2rem;
    font-weight: 600;
    height: 2.5rem;
    padding: 0;
    // font-size: .75rem;
    font-size: .938rem;
    border: 1px solid var(--bs-border-color);
    margin-bottom: .313rem;
    color: var(--bs-body-color) !important;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .fa-google
  {
    @include bg-svg-google;

    &:before {
      content: '' !important;
    }
  }
}

#login-modal,
.template-login .right-box
{
  padding: 1.5rem;
  align-items: center;
  display: flex;
  justify-content: center;

  .modal-body {
    display: grid;
    row-gap: 2rem;
  }
  .division {
    margin: 0;
  }

  .register {
    font-weight: 600;
    font-size: .875rem;
    text-align: center;
    display: flex;
    justify-content: center;
    // margin-top: 1rem;
  }

  .row
  {
    &.justify-content-end
    {
      width: 100%;
    }

    > * {
      padding-left: 0;
      padding-right: 0;
    }
  }

  form
  {
    row-gap: 1rem !important;

    div.col-12,
    fieldset
    {
      &:not(:last-child)
      {
        margin-bottom: 1.2rem;
      }
    }
  }

  a.btn,
  [type="submit"]
  {
    width: 100%;
    padding-bottom: .313rem !important;
    padding-top: .313rem !important;
  }

  .main-footer-login,
  .forgot-password,
  {
    // margin-top: 1.2rem;
    margin-top: 0;
    display: flex;
    justify-content: end;
    text-align: center;

    a {
      font-size: .8rem;
      text-align: center;
    }
  }

  .social-media
  {
    margin-top: 1.2rem;
  }
}



#login-modal
{
  padding: 0;
  .header
  {
    // padding-bottom: 2rem;
    display: grid !important;
    gap: .5rem;

    .title
    {
      // font-size: 1.5rem;
      // line-height: 2rem;
      display: block;
      margin: 0;
      font-size: 1.125rem;
      font-weight: 600;
      /*font-size: 1rem;
      font-weight: 700*/;
    }

    .description {
      font-size: .875rem;
      color: $gray-700;
      font-weight: 600;
    }
  }
}

.btn-social {
  box-shadow: unset !important;
  background-color: var(--bs-body-bg);
}

.template-login
{
  body,
  .division span {
    background-color: $light;
  }

  section {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .branding {
    gap: .5rem;
    display: flex;
    flex-direction: column;

    p {
      margin-top: 0;
      font-weight: 500;
      font-size: .875rem;
    }
  }

  .left-box
  {
    background-color: $st;
    color: $st-text;
    height: 100%;
    // width: 40%;
    padding: 3.125rem;
    min-width: 480px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      min-width: 520px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }


    .highlight
    {
      gap: 1rem;
      display: flex;
      flex-direction: column;

      .leading-highlight{
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.25;
        width: 75%;
      }
      .leading{
        font-size: .825rem;
        width: 75%;
      }
    }
  }

  .right-box
  {
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(md) {
      display: block !important;
    }

    .branding
    {
      color: $st;
      text-align: center;

      @include media-breakpoint-up(md) {
        display: none !important;
      }

      img {
        margin: auto;
      }
    }

    .row {
      max-width: 24rem;
      justify-content: end;
      margin: 0;
      padding: 0;
      row-gap: 2rem;

      @include media-breakpoint-down(md) {
        margin: auto !important;
      }
    }
  }

  .header {
    flex-direction: column;
    gap: .5rem;
  }

  h1 {
    font-size: 1rem;
    font-weight: 700;
  }

  .description {
    font-size: .875rem;
    color: $gray-700;
    font-weight: 600;
  }

  #return-notification {
    // display: contents;
  }
}
