.addable-content,
#field-container-card
{
  @extend .accordion;
  border-radius: 0;

  .field-content-card
  {
    margin: .5rem 0;
    transition: var(--bs-accordion-transition);

    &.active {
      // border: 3px var(--bs-accordion-active-color) solid;
      box-shadow: 0 0 0rem 3px var(--bs-accordion-active-color);
      transition: var(--bs-accordion-transition);
    }

    .btn-group
    {
      &.remove
      {
        padding: 0 !important;

        .remove-confirm
        {
          color: $danger;

          &:after {
            display: none!important;
          }
        }

        .dropdown-menu
        {
          border-radius: 1rem;
          width: max-content;

          p {
            font-size: .875rem;
            font-weight: 600;
            padding: .25rem .5rem;
          }

          [remove-item] {
            background-color: $danger;
            color: $white;
          }
        }
      }
    }

    .accordion-header
    {
      display: flex;
      border: 1px solid var(--bs-border-color);
    }

    .accordion-body
    {
      padding: .75rem !important;
      .form-row {
        padding: 0;
      }
    }

    .accordion-item {
      border-radius: 0;
      // border: 1px solid var(--bs-border-color);
      border: none;
    }

    .accordion-button
    {
      border-radius: 0;
      font-size: .875rem;
      padding: .75rem 1rem;
      border: none;
      box-shadow: none;
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;

      .name {
        font-size: .8rem;
      }

      .type {
        margin-right: .5rem;
        margin-left: auto;
        font-weight: 400;
        font-size: .7rem;
        color: $gray-500;
      }

      &:after {
        margin-left: 0;
      }
    }

    .accordion-collapse {
      border-radius: 0;
      border: 1px solid var(--bs-border-color);
      border-top: none;
    }

    .btn,
    .btn-group
    {
      // @extend .btn-danger;

      padding: .25rem .5rem;

      &.click,
      &.move,
      &.remove-db,
      &.remove-confirm,
      &.remove-item,
      &.remove-content {
        @extend .btn-sm;
        border: none;
        border-right: 1px solid var(--bs-border-color);
        // border-bottom: 1px solid var(--bs-border-color);
        border-radius: 0;
      }

      &.click {
        cursor: pointer;
      }



      &.move {
        cursor: move;
      }

      &.click,
      &.move {
        color: $gray-500;
        display: flex;
        align-items: center;
      }

      &.remove-db,
      &.remove-confirm,
      &.remove-item,
      &.remove-content {
        @extend .btn-outline-danger;
      }
    }

    .dropdown
    {
      button {
        text-wrap: auto;
        font-size: 1rem;
        width: 100%;
      }
      .dropdown-menu.show {
        // transform: translate(-1px, 40px) !important;

        @include media-breakpoint-up(lg) {
          left: calc(100% - 500px) !important;
        }
      }
    }
  }
}