.progress-content {
  margin-bottom: 1.5rem;

  .steps {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }


  p {
    font-weight: 600;
    width: fit-content;
    margin-left: auto;
    margin-bottom: .5rem;
  }

  .progress {
    margin-bottom: .25rem;
    .progress-bar { overflow: visible; border-radius: 1rem; }
  }

  /* =========================
   * Horizontal (progress_steps_detailed)
   * ========================= */
  &.progress_steps_detailed {
    position: relative;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    margin: 2rem 0;

    // height: 300px;

    &::before {
      content: "";
      position: absolute;
      left: 0; right: 0;
      // top: 50%;
      // transform: translateY(-50%);
      height: 4px;
      background-color: #dcdcdc;
      z-index: 0;
      margin-top: 1rem;
    }

    .progress {
      position: absolute;
      left: 0;
      // top: 50%;
      // transform: translateY(-50%);
      height: 4px;
      width: 0%;
      transition: width .3s ease;
      z-index: 1;
      margin: 0;
      box-shadow: 0 0 .5rem rgba(0, 0, 0, .15);
      margin-top: 1rem;
    }

    .progress-step-circle{
      position: relative;
      z-index: 2;
      width: 2.1875rem; height: 2.1875rem;
      border-radius: 50%;
      display: flex; align-items: center; justify-content: center;
      font-weight: 700;
      box-shadow: 0 0 .5rem rgba(0, 0, 0, .15);
      margin: 0 auto;

      &:not(.progress-step-active) {
        background-color: #dcdcdc !important;
        color: inherit !important;
      }

      &.progress-step-active {
        // color: #f3f3f3;
      }

      .step-number {
        line-height: 1;
        font-weight: 600;
      }

    }

    .progress-step-label {
      // position: absolute;
      // top: calc(100% + .5rem);
      // left: 50%;
      // transform: translateX(-50%);
      // white-space: nowrap;
      text-align: center;
      font-size: .85rem;
      color: rgba(var(--bs-body-color-rgb), .65);
      max-width: min-content;
      font-weight: 600;
      margin-top: .313rem;
    }

    @media (max-width: 575.98px) {
      .progress-step-label { display: none; }
    }
  }


  &.progress_steps_detailed.progress-vertical {

    .steps {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.25rem;
      margin: 2rem 0 2rem;
    }

    .progress-step {
      display: flex;
      align-items: center;
    }

    .progress-step-label {
      max-width: max-content;
      margin-left: .75rem;
      margin-top: 0;
    }

    &::before {
      background-color: #dcdcdc;
      bottom: 0;
      /* top: 0; */
      content: "";
      height: 100%;
      left: 1.09375rem;
      position: absolute;
      /* transform: translateY(-6%); */
      width: 4px;
      z-index: 0;
    }

    .progress {
      position: absolute;
      left: 1.09375rem;
      width: 4px;
      height: 0%;
      transition: height .3s ease;
      z-index: 1;
      margin: 0;
    }

    .progress-step-circle{
      position: relative;
      z-index: 2;
      width: 2.1875rem; height: 2.1875rem;
      border-radius: 50%;
      display: inline-flex; align-items: center; justify-content: center;
      font-weight: 700;

      &:not(.progress-step-active) {
        background-color: #dcdcdc !important;
        // color: inherit !important;
      }

      &.progress-step-active {
        // color: #f3f3f3;
      }

      .step-number {
        line-height: 1;
        font-weight: 600;
      }

      .progress-step-label {
        position: absolute;
        top: 50%;
        left: calc(100% + .5rem);
        transform: translateY(-50%);
        font-size: .875rem;
        color: rgba(var(--bs-body-color-rgb), .65);
        white-space: nowrap;

        span {
          margin-left: .313rem;
        }

        @media (max-width: 575.98px) {
          display: none;
        }
      }
    }
  }
}

[data-bs-theme="dark"]
{
  .progress-content
  {
    .progress-step-circle{
      &:not(.progress-step-active){ color: #212529 !important; }
    }
  }
}
