.vertical-text
{
  .text {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    text-align: center;
    margin: 0;
    position: fixed;
    top: 0;
    height: 100%;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 1rem;
    z-index: 1;

    &.left {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      left: 1.25rem;
    }

    &.right {
      right: 1.25rem;
    }
  }

  @media (max-width: 991.98px) {
    .text {
      display: none;
    }
  }
}
