.m-accordion {

}

.accordion-button {
  font-weight: 600;
  font-size: 1.125rem;
}

.accordion-body {
  font-size: 0.875rem;
}

.accordion-square
{
  .accordion-item,
  .accordion-button {
    border-radius: 0!important;
  }
}

.accordion-more-less
{
  .accordion-item {
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
    margin-bottom: .75rem;
    box-shadow: $basic-shadow;
    border-radius: $border-radius;
  }

  .accordion-button {
    border-radius: $border-radius;
  }

  .accordion-button::after {
    transform: scale(1.5);
    background-color: $success;
    border-radius: .313rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#fff' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
  }
  .accordion-button:not(.collapsed)::after {
    transform: scale(1.5);
    background-color: $danger;
    border-radius: .313rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#fff' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
  }
  .accordion-button::after {
    transform: scale(1.5);
    background-color: $success;
    border-radius: .313rem;
    transition: all 0.5s;
  }

}