.m-breadcrumb
{
  padding-bottom: 0;
  font-size: .8rem;

  .content
  {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ol
    {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;
      display: flex;
    }
  }
}