.m-numbers {
  .text {
    strong.number {
      font-weight: 400;
      font-size: 30px;
    }
    span {
      display: block;
      font-size: 16px;
    }
  }
  .ftco-number {
    display: block;
    font-size: 72px;
    font-weight: bold;
    color: #007bff;
  }
  .ftco-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
  }

  @media (max-width: 767.98px) {
    .counter-wrap {
      margin-bottom: 20px;
    }
  }
}
