.navbar
{
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    justify-content: space-between;
    z-index: 1030;
    padding: 0.5rem 3rem;
    color: $st-text;
    box-shadow: $basic-shadow;
    text-decoration: none;
    transition: 0.5s;
    z-index: 10;

    &.navbar-absolute {
        background-image: linear-gradient(90deg, $st 0%, $st-dark 100%);
    }

    &.navbar-transparent-absolute {
        background-image: linear-gradient(90deg, #ffffff00 0%, #00000000 100%) !important;
    }

    &.navbar-fixed {
        background-image: linear-gradient(90deg, $st 0%, $st-dark 100%);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    &.navbar-transparent-scroll
    {
        background-image: linear-gradient(90deg, #ffffff00 0%, #00000000 100%);
        backdrop-filter: blur(10px);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;

        &.scrolled
        {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            margin-top: -130px;

            &.awake {
              margin-top: 0px;
              transition: 0.3s all ease-out;
              background-image: linear-gradient(90deg, $st 0%, $st-dark 100%) !important;
            }

            &.sleep {
              transition: 0.3s all ease-out;
            }
        }
    }

    &.medium {
        background-image: linear-gradient(90deg, $st 0%, $st-dark 100%);
    }

    @include media-breakpoint-down(sm) {
       padding: 1rem 1.5rem;
    }

    a {
        text-decoration: none;
    }

    .navbar-toggler,
    .nav-link,
    .navbar-brand {
        color: $st-text;
        display: contents;
    }

    &.active,
    .nav-link {
        &:hover {
            color: $nd;
        }
    }
}

.nav-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;

    .nav {
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-btn {
        border-width: 0;
        //color: $white;
    }

    .nav-brand {
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        img {
            height: 3.75rem;
        }
    }

    .nav-link {
        @extend .btn;
        @extend .btn-primary;

        //color: $white;
    }

    &.off {
        justify-content: center;
    }
}
